paho-mqtt
tensorflow==2.18.0
numpy==1.26.4
flask
transformers==4.44.2
scikit-learn==1.5.2
kaggle
fairlearn
mlflow
opa-python-client
requests==2.32.3
pandas==2.2.3
shap==0.46.0
pyyaml
adversarial-robustness-toolbox==1.18.2
schedule
datasets
tf_keras==2.18.0