paho-mqtt
tensorflow==2.18.0
numpy
flask
transformers
scikit-learn
kaggle
fairlearn
mlflow
opa-python-client
requests
pandas
shap
pyyaml
adversarial-robustness-toolbox
schedule
datasets
tf_keras==2.18.0